/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.card a {
  opacity:  0;
}

.card:hover a, .card a:focus {
  opacity:  100;
}

h2, h3 {
  margin-top: 20px;
}

/* Grid form for employee form */
.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.form-grid > div {
  display: flex;
  flex-direction: column;
}

.form-grid > .btn-div {
  display: flex;
  flex-direction: row;
  /* justify-content: right; */
  align-items: center;
  gap: 10px;
}


/* update form for customer's owner and parent entity */
.update-form {
  margin: 0 auto;
  padding: 5px;
}

.update-form .form-group {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-bottom: 5px;
}

.update-form .form-label {
  font-weight: bold;
}

.update-form .form-control {
  flex: 1;
  padding: 5px;
  font-size: 16px;
}

.update-form .btn {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 16px;
  align-self: flex-end; /* Align button with the text box */
  margin-bottom: 8px;
}

.update-form .btn:hover {
  background-color: #007bff;
  color: #fff;
}