<!doctype html>
<html>
  <%- include("../templates/head.ejs") %>
  <body>
    <%- include("../templates/navBar.ejs") %>

    <div class="container">
      <h1>Customer Relation Manager</h1>
      <div>
        <p>Welcome to the Customer Relation Manager</p>
        <p>
          Click on the link above to view the list of customers and employees
        </p>
      </div>
    </div>
    <%- include("../templates/footer.ejs") %>
  </body>
</html>
